[x]Create an index.html file
[x]Create an images folder for any images used
[x]Download the required media for usage in the webpage and place in images file
[x]Create the skeleton of the webpage:
 [x]Navbar with the accompanying buttons
 [x]Logo
 [x]Searchbar with the accompanying buttons
 [x]Footer with the accompanying buttons
[x]Move elements around to their proper position replicating Google
[]Style the webpage 
 []Download the google font and apply it
 []Merge the search icon and searchbar into 1 item
 []Create backgrounds for search buttons and edit font-size
 []Create round hover backgrounds for the 9dots and gmail avatar images
 []Finish up spacing