[x]Create an index.html file
[x]Create an images folder for any images used
[x]Download the required media for usage in the webpage and place in images file
[x]Create the skeleton of the webpage:
 [x]Navbar with the accompanying buttons
 [x]Logo
 [x]Searchbar with the accompanying buttons
 [x]Footer with the accompanying buttons
[x]Move elements around to their proper position replicating Google
[x]Style the webpage 
 [x]Download the google font and apply it
 [x]Merge the search icon and searchbar into 1 item
 [x]Create backgrounds for search buttons and edit font-size
 [x]Create round hover backgrounds for the 9dots and gmail avatar images
 [x]Create a class for buttons so that they mimic google's buttons
 [x]Finish up spacing
[]Optionally cleanup the code and streamline everything, other than that the project is done.