[x]Create an index.html file
[x]Create an images folder for any images used
[x]Download the required media for usage in the webpage and place in images file
[x]Create the skeleton of the webpage:
 [x]Navbar with the accompanying buttons
 [x]Logo
 [x]Searchbar with the accompanying buttons
 [x]Footer with the accompanying buttons
[]Move elements around to their proper position replicating Google
[]Style the webpage 